/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	background-color: #FFFEF8;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** end reset css**/
body {
	max-width: 1140px;
	margin: auto;
	font-family: 'Work Sans';
	font-size: 14px;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}

section {
	margin: 50px 0
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1>span {
	font-family: 'Work Sans';
	font-size: 10px;
	letter-spacing: 0.1em;
	;
}

h2 {
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

.gallerie {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallerie img {
	width: 100%;
	height: 390px;
	object-fit: cover;

}

#contact {
	width: 50%;
	margin: auto;
}

#contact>* {
	text-align: center;

}

#contact h2 {
	margin-bottom: 20px;
}

#contact form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#contact label {
	margin: 2em 0 1em 0;
}

#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	width: 180px;
	text-align: center;
	border-radius: 60px;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

/* boutons de catégories */

.btn-filtres {
	border: 1px solid #1D6154;
	border-radius: 30px;
	background-color: aliceblue;
	color: #1D6154;
	padding: 6px 25px;
	font-weight: 600;
	cursor: pointer;
}

.categories {
	display: flex;
	justify-content: center;
	padding-bottom: 50px;
	gap: 15px;
}

.btn-selectionne {
	background-color: #1D6154;
	color: aliceblue;
}

/*** login ***/

.logo {
	text-decoration: none;
	padding-top: 5px;
	padding-left: 15px;
}

.bar-edition {
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 59px;
	position: absolute;
	top: 0;
	left: 0;
}

.logo-edit {
	color: white;
	width: 15px;
	height: 15px;
}

.edit-projets {
	display: flex;
	justify-content: center;
	gap: 30px;
	height: 30px;
	flex-direction: row-reverse;
}

.btn-modifier {
	display: flex;
	align-items: center;
	color: black;
	cursor: pointer;
}

.login {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.login-form {
	display: flex;
	align-items: center;
	justify-content: first baseline;
	flex-direction: column;
	padding-top: 20px;
}

input {
	width: 379px;
	height: 50px;
	border: none;
	box-shadow: 0 4px 14px rgba(0, 0, 0, 0.09);
	margin-bottom: 25px;
}

.email {
	position: relative;
	top: 10px;
	right: 168px;
}

.password {
	position: relative;
	top: 10px;
	right: 145px;
}

/* gestion des erreurs email et mot de passe */

.loginEmail-error {
	display: none;
	color: red;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.loginMdp-error {
	display: none;
	color: red;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*** La modal de supp photo ***/
* {
	box-sizing: border-box;
}

.modal {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
}

.modal-wrapper {
	/* scroll barre auto */
	overflow: auto;
	width: 630px;
	height: 688px;
	padding: 20px;
	/* max-W & max-H 1x la taille de l'ecran moins 20px */
	max-width: calc(100vw - 20px);
	max-height: calc(100vh - 20px);
	background-color: #FFF;
	border-radius: 10px;
}

*:focus {
	box-shadow: 0 0 10px blue;
}

.galerieModal {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.modal-wrapper h2 {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #000000;
	font-weight: 400;
	margin-bottom: 50px;
}

.close-deleted {
	display: flex;
	justify-content: end;
	margin-top: 26px;
	margin-left: 30px;
	font-size: 24px;
	cursor: pointer;
	
}

.fa-trash-can {
	position: relative;
	left: 70px;
	top: -85px;
	border: solid 1px black;
	background-color: black;
	color: #FFF;
	padding: 2px;
	border-radius: 3px;
}

.bordure {
	border: solid 1px #B3B3B3;
	margin: 100px 80px 30px;
}

.ajoutphoto {
	width: 237px;
	height: 36px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	color: white;
	background-color: #1D6154;
	margin: 2em auto;
	border-radius: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.elementImage {
	width: 76px;
	height: 102px;
}

.title-modal {
	text-align: center;
	color: #000;
	font-family: "work sans";
	font-size: 26px;
	font-weight: 400;
	margin-top: 10px;
}

.gallery-list {
	padding-bottom: 67px;
	border-bottom: 1px solid #b3b3b3;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 46px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px 5px;
}

.add-photo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 45px;
	margin-top: 38px;
	margin-right: auto;
	margin-left: auto;
	border: none;
	width: 237px;
	height: 36px;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	cursor: pointer;
}

.modal-img {
	width: 78px;
	height: 104px;
	object-fit: cover;
}

.cute-gallery {
	position: relative;
}

.delete-work{
	position: absolute;
	right: 6px;
	top: 6px;
	color: #fff;
	background-color: #000;
	padding: 3px 4px;
	font-size: 9px;
	border-radius: 2px;
	cursor: pointer;
}

.message-deleted {
	color: red;
	display: none;
	justify-content: center;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 700;
}

/* La modal Ajout photo */

.modal-add {
	display: none;
	flex-direction: column;
	height: 670px;
}

.js-modal-close {
	display: flex;
	justify-content: end;

}
.retour {
	margin-top: 26px;
	margin-left: 30px;
	font-size: 24px;
	cursor: pointer;
}

.form-photo{
	display: flex;
	flex-direction: column;
	margin: 0 105px;
}

.add-nvl-photo {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e8f1f6;
	width: 420px;
	height: 169px;
	margin-top: 36px;
	margin-bottom: 9px;
}

.div-ajout-photo {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.picture {
	font-size: 76px;
	color: #b9c5cc;
}

.btn-add-new-photo {
	background-color: #b9c5cc;
	color: #306685;
	padding: 10px 33px;
	margin-top: 6px;
	border-radius: 50px;
	cursor: pointer;
	transition: transform;
}

.btn-add-new-photo:hover {
	transform: scale(1.1);
}

#file {
		display: none;
}

.type-file {
	font-size: 10px;
	color: #444;
	margin-bottom: 6px;
	margin-top:5px ;
}

.title-categorie{
	color: #3D3D3D;
	margin-top: 25px;
	padding-bottom: 47px;
	border-bottom: 1px solid #b3b3b3;
}

#title-photo, #categorie-photo {
	width: 420px;
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
	margin-top: 10px;
	font-size: 1.2rem;
	color: #444444;
}

#title-photo {
	margin-bottom: 21px;
}

 #btn-valid {
	width: 237px;
	height: 36px;
	border: none;
	margin-top: 32px;
	margin-bottom: 45px;
}

.nvl-photo {
	max-width: 420px;
	max-height: 169px;
}